@charset "UTF-8";


body{
/* background-color: #F0F6F1; */
margin: 0px;
}

/*margin : 0px;
width : 100%;
height: 100%;*/

.header{
    padding: 0.5rem 0.5rem;
    background: #65af42; 
    margin-bottom: 1.5rem;   
}

/*ホーム*/
.homeicon{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 18%;
    height: 18%;
}

/* お気に入り */
.img_1{
    width: 18%;
    height: 18%;
    margin-bottom: 15px;
    margin-right: 5px;
}

/* 作成 */
.img_2{
    width: 50%;
    height: 50%;
}

/* 履歴 */
.img_3{
    margin-left: 20px;
    width: 23%;
    height: 23%;
}

/* メモ */
.img_4{
    margin-left: 30px;
    width: 15%;
    height: 15%;
    margin-bottom: 10px;
}

/*.footer{
    padding: 0.5rem 0.5rem;
    background: #FFFFFF;
    border-top: solid 2px;    
    border-top-color: black;
    text-align: center;
}*/


.footer{
    width : 100%;
    padding: 0 0 0 0;
    margin-bottom : 0px;
    position : fixed;
    z-index: -1;
}

.footer_image{
    width : 100%;
    height: 100%;
}


.popup {
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: all .2s;

  visibility: hidden;
}
.popup__container {
  width: 70%;
  height: 60%;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5rem;
}
.popup__container h2 {
  margin-bottom: 2rem;
}
.popup:target {
  visibility: visible;
}
.popup__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: black;
  text-decoration: none;
  font-size: 5rem;
  line-height: 1rem;
}



/*タブメニュー*/
.tab_container {
  padding-bottom: 1em;
  background-color: #fff;
  border:1px solid #65af42;/*タブメニューの枠*/
  margin: 0 10px;
  border-radius:15px;
  }

.tab_item {
  width: calc(100%/2);    /*100%/4を100%/2に変更*/
  padding:15px 0;
  border-bottom: 3px solid #65af42;
  background-color: #ececec;
  text-align: center;
  color: #65af42;
  display: block;
  float: left;
  font-weight: bold;
  transition: all 0.2s ease;
  border-radius: 15px 15px 0px 0px; /* 左上、右上、右下、左下 */
}
.tab_item:hover {
  opacity: 0.75;
}
input[name="tab_item"] {
  display: none;
}
.tab_content {
  display: none;
  padding: 1em 1em 0;
  clear: both;
  overflow: hidden;
}
#tab1:checked ~ #tab1_content,
#tab2:checked ~ #tab2_content {  
  display: block;
}
.tab_container input:checked + .tab_item {
  background-color: #65af42 ;
  color: #fff;
}


/*box*/
.box{
  /*スクロールバー*/
  width: 200px;
  height: 117px;
  overflow: auto;

  padding: 0.5em 1em;
  margin: 2em 0;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.box2{
  /*スクロールバー*/
  width: 700px;
  height: 117px;
  overflow: auto;

  padding: 0.5em 1em;
  margin: 2em 0;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}


.box6{
  /*スクロールバー*/
  width: 80%;
  height: 100px;
  overflow: auto;

  padding: 0.5em 1em;
  color: #5d627b;
  background: white;
  border: solid 1px #5d627b;
}


/*ゴミ箱編集*/

.cancel , .toggle-button {
	  padding: 10px 20px;
	  background-color: #65af42;/*#3498db*/
	  color: #fff;
	  border: none;
	  border-radius: 5px; /*角を丸くする*/
	  cursor: pointer;
	  outline: none;
	}
	
	.check {
	  display: none;
	}
	
	.cancel{
	  display: none;
	}

    
/*背景*/
html{
    margin: 0;
    background-image: url("./../images/PBLbackgroundpng.png");
    background-size: 100%;
}

.modal-span {
cursor: pointer;
text-decoration: underline; 
}
.modal-outer {
position: fixed;
top: 0;
left: 0;
display: none; 
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.8);
z-index: 10000; 
}
.modal-inner {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
overflow-y: auto;
width: 95%;
max-width: 300px;
max-height: 300px;
background: #fff;
padding: 10px 20px; 
}
.show {
display: block; 
}
.modal-inner-header {
margin-bottom: 25px;
}
.close-btn-top {
cursor: pointer;
color: #000;
font-size: 2em;
position: absolute;
top: -10px;
right: 5px;
}
.close-btn-bottom {
margin-bottom: 0;
width:150px;
margin:0 auto;
text-align: center; 
}
.close-btn-bottom button {
padding: 5px 10px; 
cursor: pointer;
}
.bold {
  font-weight: bold; 
}

/*必要素材一覧チェックボックススタイル*/
