@charset "UTF-8";

/*全ページ適応*/

.header{
padding: 2rem 2rem;
    background: #65af42;
}

.footer{
    padding: 0.5rem 0.5rem;
    background: #FFFFFF;
    border-top: solid 2px;    
    border-top-color: black;
    text-align: center;
}

body{
    background-color: #F0F6F1;
    margin: 0px;
	text-align: center;
    width : 100%;
    height: 100%;
}

.logo{
    font-size: 50px;
    font-family: 'Comic Sans MS',sans-serif;
    margin: 20px 0px;
}

/* .button_1{
    margin-top: 20px;
    margin-bottom: 10px;
} */

.footer_image{
    vertical-align: bottom;
    width : 100%;
    margin-bottom : 0px;
}

/* お気に入り */
.img_1{
    width: 18%;
    height: 18%;
    margin-bottom: 15px;
    margin-right: 5px;
}

/* 作成 */
.img_2{
    width: 50%;
    height: 50%;
}

/* 履歴 */
.img_3{
    margin-left: 20px;
    width: 23%;
    height: 23%;
}

/* メモ */
.img_4{
    margin-left: 30px;
    width: 15%;
    height: 15%;
    margin-bottom: 10px;
}

.format_1{
    margin-right: 20px;
}

.title_logo{
    text-decoration: none;/*titleの下線消去*/
}


/*memo.html*/
.box{

margin: 20px auto 20px auto; /*箱と他の行との幅*/


width:200px;
height:300px;
 
border: solid 3px #000000; /*boxの枠の設定*/

background-color: 白;
text-decoration: none;
}

.check{
	margin: 10px auto 15px auto;
}

.checkbox{
	border-bottom: 1px solid #333;
    padding: 1px; /*バーの幅*/
}

.box-image{
    margin :  20px 0 -47px 0;
}

input:checked~span{
text-decoration: line-through;  /*打ち消し線の実装*/
}